*,*::after,*::before {
  box-sizing: border-box;
}
:host {
  display: block;
  background-color: white;
}

*{
	outline: none;
}
body{
	font-family: Roboto, 'Helvetica', sans-serif;
	background: #e3e3e3;
}
paper-item{
	display: block;
	margin: 10px 10px;
}
.create-item{
	position: absolute;
	bottom: 15px;
	right: 15px;
}
section{
	height: 100%;
	background: #e3e3e3;
}

core-toolbar{
	background-color: #0097A7;
}

#toggleAlarm{
	position: absolute;
	top: 70px;
	left: 35%;
	z-index: 2;
}