:host {
	display: block;
	position: relative;
	width: 100%;
	margin: 10px 0;
	padding: 8px;
	background: white;
	box-sizing: border-box;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
*{
	box-sizing: border-box;
}

core-icon-button {
      position: absolute;
      top: 3px;
      right: 3px;
      color: #636363;
    }
    :host([favorite]) core-icon-button {
      color: #00BCD4;
    }

::content .header{
	margin: 0 0 10px;
	font-size: 20px;
}

::content p{
	position: relative;
	margin: 2px;
	font-size: 16px;
}
/*
::content p:before{
	content: '-';
	display: inline-block;
	margin-right: 4px;
}*/


::content .label{
	display: inline-block;
	margin-bottom: 5px;
	color: rgba(0,0,0,0.85);
	padding: 4px;
	/*border: 1px solid #ddd;*/
	border-radius: 3px;
	font-size: 12px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

::content .label:hover{
	background: rgba(0,0,0,0.16);
}

::content time{
	display: block;
	font-size: 12px;
}