:host {
	display: block;
	height: 100%;
	width: 100%;
}

core-header-panel{
	height: 100%;
	background: white;
}

[drawer] core-toolbar{
	background: url(/app/images/user-wall.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

core-toolbar{
	background-color: #0097A7;
	color: white;
}

core-toolbar [icon="more-vert"] {
  padding-right: 0;
}

paper-dropdown{
	color: black;
}
paper-item{
	display: block;
	height: 30px;
}

paper-fab{
	position: fixed;
	bottom: 10px;
	right: 10px;
	background-color: #FF5252;
	z-index: 4;
}

paper-fab-menu{
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 50px;
	height: 220px;
}
paper-fab-menu [mini]{
	opacity: 1 !important;
  	position: relative;
}

[main]{
	background-color: #e3e3e3;
}

@media screen and (min-width: 896px) {
  :host {
    background-color: transparent;
  }
  .content {
    margin: 32px auto;
    width: 640px;
  }

:host /deep/ .content{
	height: 100%;
}

core-menu{
	cursor: pointer;
}
core-icon{
	margin-right: 10px;
}
#headerPanel{
	background: #e3e3e3;
}

core-drawer-panel:not([narrow]) #navicon{
	display: none;
}

#addNote{
	background: #000;
}

[pressed] paper-dropdown{
	display: block;
}